In [1]:
#Les listes; '[]' les différents éléments qu'on veut dans notre liste

liste_1 = [1, 8, 4, 38]
villes = ['Paris', 'Berlin', 'Tokyo', 'Bruxelles']

#on peut créer des listes qui contiennent des listes
liste_2 = [liste_1, villes]
liste_3 = [] #liste vide

print(liste_2)

[[1, 8, 4, 38], ['Paris', 'Berlin', 'Tokyo', 'Bruxelles']]

In [2]:
#Les tuples : comme une liste mais on pourra pas la modifier après qu'on l'a crée. La liste sera donc protégée
#ils utilisent moins de mémoire sur l'ordi qu'une liste. Mais on s'en sert rarement des tuples

tuple_1 = (1, 2, 6, 1, 7)

In [3]:
#string, chaîne de caractère
prénom = 'Nicolas'

#Les listes,tuples, string = séquence (ensemble de données qui suivent un ordre); Dans une séquence chaque élément à un index. C-à-d la position de l'élément dans la liste
print(villes[0])

Paris

In [4]:
#TECHNIQUE D'INDEXING
#pour accéder au dernier élément dans une liste
print(villes[-1])
#même pour l'avant dernier
print(villes[-2])

Bruxelles
Tokyo

In [5]:
#TECHNIQUE SLICING: permet d'accéder à une fourchette d'éléments dans notre séquence en indiquant la fourchette d'index'
# Liste[début: fin: pas] cf range(début, fin, pas). Eg:

print(villes[0:3])#de 0 jusqu'à 3

['Paris', 'Berlin', 'Tokyo']

In [6]:
#ou

print(villes[:3])

['Paris', 'Berlin', 'Tokyo']

In [7]:
#définir à partir d'un nombre jusq'au dernier élément

print(villes[2:])

['Tokyo', 'Bruxelles']

In [8]:
#ou sauter des élément

print(villes[::2])#rappel:pas besoin de définir l'index si on veut tenir toute la liste en compte

['Paris', 'Tokyo']

In [9]:
#ou faire cela à l'envers
print(villes[::-1])

['Bruxelles', 'Tokyo', 'Berlin', 'Paris']

In [10]:
#on peut faire apparaître les caractères individuelles d'un string

print(prénom[:3])

Nic

In [11]:
#modifier une séquence

villes[0] = 'Moscow' #premier élément de ma liste on change à Moscow

print(villes)

['Moscow', 'Berlin', 'Tokyo', 'Bruxelles']

In [12]:
villes.append('Londres') #l'action append qui permet de rajouter un élément tout à la fin de la liste
villes

['Moscow', 'Berlin', 'Tokyo', 'Bruxelles', 'Londres']

In [13]:
len(villes)

5

In [14]:
#l'action insert qui permet d'ajouter un élément dans la liste 

villes.insert(2,'Madrid')#on ajoute MADRID à l'index 2
villes

['Moscow', 'Berlin', 'Madrid', 'Tokyo', 'Bruxelles', 'Londres']

In [15]:
#pour ajouter une liste à la fin d'une liste

villes_2 = ['Amsterdam', 'Port of Spain']
villes.extend(villes_2)
villes

['Moscow',
 'Berlin',
 'Madrid',
 'Tokyo',
 'Bruxelles',
 'Londres',
 'Amsterdam',
 'Port of Spain']

In [17]:
len(villes)

8

In [18]:
#'.sort': soit il trie notre liste dans l'orde alphabétique|anti-alphabétqiue ou ordre numérique | à l'inverse

villes.sort()
villes

['Amsterdam',
 'Berlin',
 'Bruxelles',
 'Londres',
 'Madrid',
 'Moscow',
 'Port of Spain',
 'Tokyo']

In [19]:
villes.sort(reverse=True)
villes

['Tokyo',
 'Port of Spain',
 'Moscow',
 'Madrid',
 'Londres',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [20]:
liste_1.sort()
liste_1

[1, 4, 8, 38]

In [21]:
#méthode qui permet de compter combiens de fois une valeur apparait dans la liste
villes.count('Madrid')

1

In [22]:
if 'Madrid' in villes:
    print('Oui')
else:
    print('Non')

Oui

In [23]:
#le boucle 'for' effectue ses itérations sur les éléments de notre liste et non pas sur des nombres. Elle va donc manipuler les éléments

for i in villes:
    print(i)

Tokyo
Port of Spain
Moscow
Madrid
Londres
Bruxelles
Berlin
Amsterdam

In [24]:
#'for index,valeur in enumerate()': va extraire l'index des éléments

for index, valeur in enumerate(villes):
    print(index, valeur)

0 Tokyo
1 Port of Spain
2 Moscow
3 Madrid
4 Londres
5 Bruxelles
6 Berlin
7 Amsterdam

In [25]:
#La commande 'ZIP': permet d'utiliser un boucle 'For'  avec deux listes en parallel
#PS: La boucle 'For' s'arrêtera là où la liste LA PLUS COURTE s'arrête.


for a,  b in zip(villes, liste_1):
    print(a, b)

Tokyo 1
Port of Spain 4
Moscow 8
Madrid 38